{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-7">
        <div id="myDiv">
            <!-- Plotly chart will be drawn inside this DIV -->
        </div>
    </div>
    
    <div class="col-xs-12 col-md-6 col-lg-5">
        <div>
            <h2 class="text-center">Input Fields</h2>
        </div>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <form class="form-horizontal" id="frmWeightOpt">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Sell Attributes
                            </a>
                        </h4>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="inpBasePrice" class="control-label col-xs-6">Base Price</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;" id="inpBasePrice" name="base_price" value="80.00" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpCarcassStdDev" class="control-label col-xs-6">Carcass Std Dev</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius:4px" id="inpCarcassStdDev" name="carcass_std_dev" value="18" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpYieldAvg" class="control-label col-xs-6">Yield Avg</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius:4px" id="inpYieldAvg" name="yield_avg" value="76.00" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpLeanAvg" class="control-label col-xs-6">Lean Avg</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius:4px" id="inpLeanAvg" name="lean_avg" value="54.00" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpLeanStdDev" class="control-label col-xs-6">Lean Std Dev</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius:4px" id="inpLeanStdDev" name="lean_std_dev" value="2.1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Barn Attributes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="inpRent" class="control-label col-xs-6">Rent</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <div class="input-group-addon">$</div>
                                        <input type="text" class="form-control" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;" id="inpRent" name="rent" value="1940" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpWeeks" class="control-label col-xs-6">Avg Weeks in Barn</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius:4px" id="inpWeeks" name="weeks" value="24.5" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpStartNum" class="control-label col-xs-6">Start Number</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius:4px" id="inpStartNum" name="start_num" value="2500" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpStartWt" class="control-label col-xs-6">Start Weight</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" style="border-radius:4px" id="inpStartWt" name="start_wt" value="12" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpDeathPer" class="control-label col-xs-6">Death Percentage</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inpDeathPer" name="death_per" value="4.00" />
                                        <div class="input-group-addon" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">%</div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inpDiscountPer" class="control-label col-xs-6">Discount Percentage</label>
                                <div class="col-xs-5">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="inpDiscountPer" name="discount_per" value="1.00" />
                                        <div class="input-group-addon" style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">%</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" id="frmFeed">
                <div class="panel panel-default" style="margin-top:5px;">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Feed Attributes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Phase</th>
                                        <th>Price ($/lb)</th>
                                        <th>Start Weight (lbs)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>N1</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.29438071" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" id="N1-wt" name="feed_wt" value="12" disabled/></td>
                                    </tr>
                                    <tr>
                                        <th>N2</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.18980649" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="20" /></td>
                                    </tr>
                                    <tr>
                                        <th>N3</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.11205248" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="30" /></td>
                                    </tr>
                                    <tr>
                                        <th>F1</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.09077630" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="50" /></td>
                                    </tr>
                                    <tr>
                                        <th>F2</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.08552250" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="80" /></td>
                                    </tr>
                                    <tr>
                                        <th>F3</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.07965624" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="120" /></td>
                                    </tr>
                                    <tr>
                                        <th>F4</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.07812813" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="160" /></td>
                                    </tr>
                                    <tr>
                                        <th>F5</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.07665118" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="200" /></td>
                                    </tr>
                                    <tr>
                                        <th>F6</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.07570529" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="225" /></td>
                                    </tr>
                                    <tr>
                                        <th>F7</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.09360718" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="245" /></td>
                                    </tr>
                                    <tr>
                                        <th>F8</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-pr" name="feed_pr" value="0.09719425" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-feed-wt" name="feed_wt" value="265" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" id="frmModelAdj">
                <div class="panel panel-default" style="margin-top:5px;">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                Model Adjust Attributes
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                        <div class="panel-body">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Model Attributes</th>
                                        <th>Gain Model</th>
                                        <th>FC Model</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Model Target</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-model-g" name="model_g_adj" value="273" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-model-fc" name="model_fc_adj" value="2.65" /></td>
                                    </tr>
                                    <tr>
                                        <th>Start Week</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-model-g" name="model_g_adj" value="0" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-model-fc" name="model_fc_adj" value="0" /></td>
                                    </tr>
                                    <tr>
                                        <th>End Week</th>
                                        <td class="has-feedback"><input type="text" class="form-control inp-model-g" name="model_g_adj" value="24.5" /></td>
                                        <td class="has-feedback"><input type="text" class="form-control inp-model-fc" name="model_fc_adj" value="24.5" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <div class="col-xs-6"></div>
            <div class="col-xs-5">
                <button type="button" class="btn btn-primary" style="width:100%;" id="recalculate"><strong>Recalculate</strong></button>
            </div>
        </div>
    </div>
</div>
        
<script>
    $(".collapse").collapse();

    $(document).ready(function () {
        $("#frmWeightOpt").formValidation({
            framework: "bootstrap",
            fields: {
                base_price: {
                    validators: {
                        notEmpty: {
                            message: "Base Price is required"
                        },
                        numeric: {
                            message: "Base Price must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 200,
                            message: "Base Price must be between %s and %s"
                        }
                    }
                },
                carcass_std_dev: {
                    validators: {
                        notEmpty: {
                            message: "Carcass Std Dev is required"
                        },
                        numeric: {
                            message: "Carcass Std Dev must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 30,
                            message: "Carcass Std Dev must be between %s and %s"
                        }
                    }
                },
                yield_avg: {
                    validators: {
                        notEmpty: {
                            message: "Yield Avg is required"
                        },
                        numeric: {
                            message: "Yield Avg must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 60,
                            max: 90,
                            message: "Yield Avg must be between %s and %s"
                        }
                    }
                },
                lean_avg: {
                    validators: {
                        notEmpty: {
                            message: "Lean Avg is required"
                        },
                        numeric: {
                            message: "Lean Avg must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 25,
                            max: 85,
                            message: "Lean Avg must be between %s and %s"
                        }
                    }
                },
                lean_std_dev: {
                    validators: {
                        notEmpty: {
                            message: "Lean Std Dev is required"
                        },
                        numeric: {
                            message: "Lean Std Dev must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 4,
                            message: "Lean Std Dev must be between %s and %s"
                        }
                    }
                },
                rent: {
                    validators: {
                        notEmpty: {
                            message: "Rent is required"
                        },
                        numeric: {
                            message: "Rent must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 50000,
                            message: "Rent must be between %s and %s"
                        }
                    }
                },
                weeks: {
                    validators: {
                        notEmpty: {
                            message: "Weeks in Barn is required"
                        },
                        numeric: {
                            message: "Weeks in Barn must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 40,
                            message: "Weeks in Barn must be between %s and %s"
                        }
                    }
                },
                start_num: {
                    validators: {
                        notEmpty: {
                            message: "Barn Size is required"
                        },
                        numeric: {
                            message: "Barn Size must be a number"
                        },
                        between: {
                            min: 0,
                            max: 10000,
                            message: "Barn Size must be between %s and %s"
                        }
                    }
                },
                start_wt: {
                    validators: {
                        notEmpty: {
                            message: "Barn Size is required"
                        },
                        numeric: {
                            message: "Barn Size must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 5,
                            max: 100,
                            message: "Barn Size must be between %s and %s"
                        }
                    }
                },
                death_per: {
                    validators: {
                        notEmpty: {
                            message: "Death Percentage is required"
                        },
                        numeric: {
                            message: "Death Percentage must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 100,
                            message: "Death Percentage must be between %s and %s"
                        }
                    }
                },
                discount_per: {
                    validators: {
                        notEmpty: {
                            message: "Discount Percentage is required"
                        },
                        numeric: {
                            message: "Discount Percentage must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 100,
                            message: "Discount Percentage must be between %s and %s"
                        }
                    }
                }
            }
        });
    });

    $(document).ready(function () {
        $("#frmFeed").formValidation({
            framework: "bootstrap",
            err: {
                container: "tooltip"
            },
            row: {
                selector: 'td'
            },
            fields: {
                feed_pr: {
                    validators: {
                        notEmpty: {
                            message: "Price is required"
                        },
                        numeric: {
                            message: "Price must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 0.50,
                            message: "Price must be between %s and %s"
                        }
                    }
                },
                feed_wt: {
                    validators: {
                        notEmpty: {
                            message: "Max Wt is required"
                        },
                        numeric: {
                            message: "Max Wt must be a number",
                            decimalSeparator: "."
                        },
                        between: {
                            min: 0,
                            max: 1000,
                            message: "Max Wt must be between %s and %s"
                        }
                    }
                }
            }
        });
    });

    $(document).ready(function () {
        $("#frmModelAdj").formValidation({
            framework: "bootstrap",
            err: {
                container: "tooltip"
            },
            row: {
                selector: 'td'
            },
            fields: {
                model_g_adj: {
                    validators: {
                        notEmpty: {
                            message: "Gain Model attribute is required"
                        },
                        numeric: {
                            message: "Gain Model attribute must be a number",
                            decimalSeparator: "."
                        },
                        greaterThan: {
                            value: 0,
                            message: "Gain Model attribute must be greater than %s"
                        }
                    }
                },
                model_fc_adj: {
                    validators: {
                        notEmpty: {
                            message: "FC Model attribute is required"
                        },
                        numeric: {
                            message: "FC Model attribute must be a number",
                            decimalSeparator: "."
                        },
                        greaterThan: {
                            value: 0,
                            message: "FC Model attribute must be greater than %s"
                        }
                    }
                }
            }
        });
    });

    $("#frmWeightOpt input").blur(function () {
        $(this).parent().parent().parent().removeClass("has-success");
    });

    $("#frmFeed input").blur(function () {
        $(this).parent().removeClass("has-success");
    });

    $("#frmModelAdjust input").blur(function () {
        $(this).parent().removeClass("has-success");
    });

    $("#inpStartWt").change(function () {
        $("#N1-wt").val($("#inpStartWt").val());
    });

    $("#recalculate").click(function () {
        generatePlot();
    });

    function generatePlot() {
        var url = "http://wsf-web-app.azurewebsites.net/api/v1/weightOptApi";
        url = url + "?" + $("#frmWeightOpt").serialize() + "&" + $("#frmFeed").serialize() + "&" + $("#frmModelAdj").serialize();
        console.log($("#frmModelAdj").serialize());
        console.log(url);
        $.getJSON(url).done(function (data) {
            var d3 = Plotly.d3;

            var WIDTH_IN_PERCENT_OF_PARENT = 100,
                HEIGHT_IN_PERCENT_OF_PARENT = 100;

            var gd3 = d3.select('#myDiv')
                .style({
                    width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                    'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',

                    //height: HEIGHT_IN_PERCENT_OF_PARENT + 'vh',
                    //'margin-top': (100 - HEIGHT_IN_PERCENT_OF_PARENT) / 2 + 'vh'
                });

            var gd = gd3.node();

            var trace1 = {
                x: data.xval,
                y: data.yval,
                type: 'scatter'
            };
            var plot = [trace1];
            var layout = {
                title: 'Optimal Live Weight Curve',
                xaxis: {
                    title: 'Avg Group Live Wt (lbs)',
                    t0: data.xval[0],
                    dtick: 5
                },
                yaxis: {
                    title: 'Revenue Less Deaths, Feed, & Rent ($)'
                }
            };

            Plotly.newPlot(gd, plot, layout);

            window.onresize = function () {
                Plotly.Plots.resize(gd)
            };
        });
    }
    generatePlot();
</script>

{% endblock %}
