{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<div id="myDiv" style="width: 480px; height: 400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
<script>
    (function () {
        var url = "http://wsf-web-app.azurewebsites.net/api/v1/weightOptApi";
        $.getJSON(url)
          .done(function (data) {
              var trace1 = {
                  x: data.xval,
                  y: data.yval,
                  type: 'scatter'
              };
              var plot = [trace1];
              Plotly.newPlot('myDiv', plot);
          });
    })();

</script>
{% endblock %}
